h1,
h2,
h3 {
  color: #f184c7;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
h1 {
  font-size: 50px;
  font-weight: bold;
}
h3 {
  font-weight: 200;
  font-size: 12px;
  text-align: center;
}

.container-sm {
  display: block;
  margin-top: 60px;
  margin-bottom: 60px;
  border-radius: 25px;
  border: 4px solid #e64ae6;
  background-image: url("images/pinkclouds.jpg");
}

h5 {
  font-weight: 200px;
  font-size: 11px;
  color: #ee61b8;
  font-family: "Montserrat", sans-serif;
}

.emoji {
  font-size: 26px;
}

.col {
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}

.card {
  position: relative;
  display: flex;
  width: 105px;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-image: linear-gradient(
    to top,
    #fdcbf1 0%,
    #fdcbf1 1%,
    #e6dee9 100%
  );
  background-clip: border-box;
  border-radius: 0.25rem;
  box-shadow: 0 6px 9px rgba(0, 0, 0, 0.16), 0 6px 9px rgba(0, 0, 0, 0.23);
  border: 1px solid #e64ae6;
}

.border {
  border: none;
}

a {
  text-decoration: none;
}

button {
  display: block;
  margin: 0 auto;
  color: #ee61b8;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  padding: 5px;
  background-image: linear-gradient(
    to top,
    #fdcbf1 0%,
    #fdcbf1 1%,
    #e6dee9 100%
  );
  box-shadow: 0 6px 9px rgba(0, 0, 0, 0.16), 0 6px 9px rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  border: 1px solid #e64ae6;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'>🕊️<text y='50%'>🕊️</text></svg>")
      16 0,
    auto; /*!emojicursor.app*/
}

.row {
  margin-left: 10px;
  margin-right: 10px;
}
